* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
 
  font-family: 'Fahkwang', sans-serif;
  font-weight: 300;
  font-size: 16px;
  overflow-x: hidden;
}

.container {
  margin: 0 auto;

  max-width: 1070px;
}

/*********************************HEADER*****************************/

.person {
  padding: 10px 0 30px;
  margin-bottom: 20px;

  display: flex;
  align-items: center;

  border-bottom: 2px solid #000;
}

.person__photo {
  margin-right: 50px;
  
  width: 170px;
  height: 170px;
  
  object-fit: cover;
}


.person__name {
  margin-bottom: .2rem;

  font-weight: 300;
  font-size: 4rem;
  letter-spacing: .1rem;
}

.person__prof {
  font-weight: 400;
}

/*****************************MAIN: ABOUT**************************/

.about {
  display: grid;
  grid-template-areas: 
    "about experience"
    "education languages"
    "works technical"
    "reference contacts";
  justify-content: space-between;

  border-bottom: 2px solid #000;

  margin-bottom: 10px;
}

.about__me {
  grid-area: about;
}

.about__experience {
  grid-area: experience;
}

.about__education {
  grid-area: education;
}

.about__languages {
  grid-area: languages;
}

.about__work {
  grid-area: works;
}

.about__skills {
  grid-area: technical;
}

.about__reference {
  grid-area: reference;
}

.about__contacts {
  grid-area: contacts;
}

.about__h {
  margin-bottom: 30px;
  
  text-transform: uppercase;
  letter-spacing: .3rem;

  position: relative;
}

.about__h::after {
  content: "";
  
  position: absolute;

  left: 0;
  bottom: -5px;

  width: 65px;
  height: 3px;

  border-bottom: solid rgb(0, 0, 0) 3px;
}

.about__h + *,
.reference__h + * {
  margin-bottom: 100px;
}

.about__me,
.about__experience,
.about__education,
.about__skills,
.about__languages {
  max-width: 450px;
}

.list__item {
  list-style-position: inside;
}

.reference-list {
  display: flex;
  flex-flow: wrap row;

  margin-bottom: 20px;
}

.reference-list__item {
  list-style-type: none;

  transition: .2s linear;
}

.reference-list__item:hover {
  transform: scale(0.5);
}

.reference-list__item:nth-child(2) {
  margin: 0 50px;
}

.reference-text {
  margin-bottom: 10px;
}

.reference-list__item a {
  width: 100%;
  height: 100%;
}

/******************FOOTER****************************/

.footer {
  display: flex;
}

.footer-list {
  display: flex;
  flex-flow: row wrap;
  
  margin: 0 auto;
}

.rs-school {
  width: 50px;
  height: 50px;
}

.list-items {
  list-style-type: none;
}

.year {
  list-style-type: none;

  margin-right: 40px;

  align-self: center;
}

.git {
  list-style-type: none;

  margin: 0 40px
}

.list-items a img,
.git a img {
  width: 40px;
  height: 40px;
}
